.submit input{
  margin-left: 1em;
  border: none;
  background-color:transparent;
}
.container > h3{
  display: block;
  padding-bottom: 0.5em;
  margin-bottom: 3em;
  border-bottom: 2px solid black;
}

#figure > span{
  font-size: 12px;
  color: blue;
  border: 1px solid blue;
  padding: 3px;
}
